<!-- Describe task in general -->
<p>
	Тобі дано довгий рядок (рівномірний шрифт), і ти повинен розділити його на рядки із урахуванням максимальної ширини.
	Також необхідно відформатувати текст відповідно до заданого стилю: <b>"l"</b> означає вирівнювання тексту по лівому краю (<strong>l</strong>eft), <b>"c"</b> - по центру (<strong>c</strong>enter), <b>"r"</b> - по правому краю (<strong>r</strong>ight), і <b>"j"</b> означає вирівнювання по ширині (<strong>j</strong>ustify).
	Нарешті, рядки в результаті не повинні закінчуватися пробілами.
</p>

<p>
	Якщо тобі доведеться поставити загалом непарну кількість пробілів навколо рядка, щоб розмістити його посередині, тоді з початку рядка розміщую парну кількість пробілів.
</p>

<p>
	Правила вирівнювання по ширині:
	<ul>
		<li>оскільки ми не завжди можемо поставити рівну кількість пробілів між словами в рядку, спочатку став більшу кількість пробілів стільки разів, скільки це необхідно. Наприклад: X---X---X--X--X--X коли тобі потрібно розмістити 12 пробілів у 5 проміжках між словами: 3-3-2-2-2;</li>
		<li>НЕ вирівнюй по ширині останній рядок тексту.</li>
	</ul>
</p>

<p>
	Тобі не знадобиться ділити слово на дві частини, оскільки задана ширина досить велика.
</p>


<!-- Explain input and output values -->
<p>
	<strong>Вхідні дані:</strong> Рядок text ({% if is_js %}string{% else %}str{% endif %}), ширина width ({% if is_js %}number{% else %}int{% endif %}) і стиль style ({% if is_js %}string{% else %}str{% endif %}).
</p>

<p>
	<strong>Вихідні дані:</strong> Форматований текст як рядок ({% if is_js %}string{% else %}str{% endif %}).
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
	<p>
		<strong>Приклади:</strong>
	</p>
	<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
	<strong>Передумови:</strong>
	<ul>
		<li><i>all(len(word) <= width for word in text.split());</i></li>
		<li><i>'\n' немає у тексті;</i></li>
		<li></i>варіанти стилів ('l', 'c', 'r', 'j');<i></li>
		<li><i>0 < len(text) <= 1000.</i></li>
	</ul>
</p>
