<!-- Describe task in general -->
<p>
	Вам дано довгий рядок (моноширинний шрифт) і ви повинні розділити його, щоб дотриматись заданої ширини. Потім відформатувати текст відповідно до заданого стилю: <b>"l"</b> означає вирівнювання тексту по <strong>лівому</strong> краю, <b>"c"</b> - по <strong>центру</strong>, <b>"r"</b> - по <strong>правому</strong> краю, а <b>"j"</b> - вирівнювання тексту <strong>по ширині</strong> . Нарешті, рядки не повинні закінчуватися пробілами.
</p>

<p>
	Якщо для вирівнювання рядка по центру потрібно поставити непарну кількість пробілів навколо рядка, то перед ним слід поставити парну кількість пробілів.
</p>

<p>
	Правила вирівнювання по ширині:
	<ul>
		<li>оскільки ми не можемо завжди ставити однакову кількість пробілів між словами у рядку, ставте спочатку великі блоки пробілів. Наприклад: X---X---X---X--X--X--X--X, коли потрібно вставити 12 пробілів у 5 проміжках: 3-3-2-2-2;</li>
		<li>не вирівнювайте останній рядок тексту.</li>
	</ul>
</p>

<p>
	Вам не доведеться думати про розбиття слова на дві частини, оскільки задана ширина достатньо велика.
</p>


<!-- Explain input and output values -->
<p>
	<strong>Вхідні дані:</strong> Текст <span>(str{% if is_js %}ing{% endif %})</span>, ширина <span>({% if is_js %}number{% else %}int{% endif %})</span> та стиль <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
	<strong>Вихідні дані:</strong> Відформатований текст (str{% if is_js %}ing{% endif %}).
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
	<p>
		<strong>Приклади:</strong>
	</p>
	<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
	<strong>Передумови:</strong>
	<ul>
		<li><i>all(len(word) &lt;= width for word in text.split());</i></li>
		<li><i>'\n' немає у тексті;</i></li>
		<li><i>style in ('l', 'c', 'r', 'j');</i></li>
		<li><i>0 &lt; len(text) &lt;= 1000.</i></li>
	</ul>
</p>
