<!-- Describe task in general -->
<p>
	You are given a long line (a monospace font), and you have to break the line in order to respect a given width.
	Then you have to format the text according to the given style: <b>"l"</b> means you have to align the text to the <strong>l</strong>eft, <b>"c"</b> for <strong>c</strong>enter, <b>"r"</b> for <strong>r</strong>ight, and <b>"j"</b> means you have to <strong>j</strong>ustify the text.
	Finally, the lines of the output shouldn’t end with a whitespace.
</p>

<p>
	If you have to put totally an odd number of spaces around a line in order to center it, then put even number of spaces before.
</p>

<p>
	The justification rules:
	<ul>
		<li>since we can't always put the same number of spaces between words in a line, put big blocks of spaces first. For example: X---X---X--X--X--X when you have to put 12 spaces in 5 gaps: 3-3-2-2-2;</li>
		<li>don't justify the last line of a text.</li>
	</ul>
</p>

<p>
	You won't have to consider splitting a word into two parts because the given widths are big enough.
</p>


<!-- Explain input and output values -->
<p>
	<strong>Input:</strong> A text ({% if is_js %}string{% else %}str{% endif %}), width ({% if is_js %}number{% else %}int{% endif %}) and style ({% if is_js %}string{% else %}str{% endif %}).
</p>

<p>
	<strong>Output:</strong> The formatted text ({% if is_js %}string{% else %}str{% endif %}).
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
	<p>
		<strong>Examples:</strong>
	</p>
	<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
	<strong>Preconditions:</strong>
	<ul>
		<li><i>all(len(word) <= width for word in text.split());</i></li>
		<li><i>'\n' not in text;</i></li>
		<li><i>style in ('l', 'c', 'r', 'j');</i></li>
		<li><i>0 < len(text) <= 1000.</i></li>
	</ul>
</p>
